/*
=============================
Put in Reset or Normalise etc...
=============================
*/

* {
    box-sizing: border-box;
    font-family: 'Lato', Arial;
}

h1 {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.h1 {
    color: #555;
}

.h1:after {
    display: block;
    height: 2px;
    background-color: #555;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 3%;
}

/*
=============================
Header Section
=============================
*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(carsales.gif); 
    background-size: cover;
    background-position: center;
    height: 60vh;
    background-attachment: fixed;
    position: relative;
}

.hero-text-box {
    position: absolute;
/*    width: 1140px;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.car-track {
    background-color: #fff;
}

.logo {
    height: 100px;
    position: relative;
    left: -400px;
}

.logo img {
    height: 100px;
}

.logo-text {
    display: inline-block;
    font-weight: 700;
    font-size: 150%;
}


.main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #fff;
}


/*
   ================================
    HOME PAGE
   ================================
*/

.home-main {
    min-height: 34vh;
}


/* ================================
    REVIEWS PAGE
   ================================ */

.item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
}

.review-edit {
    min-height: 35vh;
}

.review-comment {
    width: 80%;
    padding-bottom: 5px;
    padding-left: 3px;
    margin-bottom: 3%;
}
/*  ==============================
    CARS
    ============================== */
.main {
    background-color: #e5e5e5;
}


.delete-edit {
    width: 45%;
    margin-bottom: 4%;
    margin-top: 4%;
}


.jquery-text {
    display: none;
}

/*  ==============================
    COMPONENTS
    ============================== */

.center-align {
    width: 70%;
    margin-left: 12%;
}

.comment-btn {
    text-align: center;
}

/* ===============================
    FORMS
   =============================== */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=email], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.form-container {
  border-radius: 5px;
  background-color: #ccc;
  padding: 20px;
    width: 100%;
  max-width: 750px;
}
/*  ==============================
    FOOTER
    ============================== */
footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(carsales.gif); 
    background-size: cover;
    background-position: center;
    height: 5vh;
    background-attachment: fixed;
    position: relative;
}

.footer {
    text-align: right;
    color: #fff;
    padding-top: 5px;
}