<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarMart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400" rel="stylesheet">
    
</head>
<body>
    <header>
        <nav>         
            <div class="container">
                <ul class="main-nav">
                    <li><a href="/cars">Cars</a></li>
                    <li><a href="/offer">Offers</a></li>
                    <li><a href="/showoffers">Highest Offers</a></li>
                    <li><a href="/reviews">Reviews</a></li>
                </ul>
            </div>
        </nav>
        <div class="hero-text-box"> 
            <h1>Welcome to CarMart</h1> 
            <a class="btn btn-secondary center-align mt-3" href="cars">View our cars</a>
        </div>  
    </header>
    
    